<!DOCTYPE html>
<html>
  <head>
    <title>SocialApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <ul class="nav justify-content-end bg-dark py-2 px-1">
      <li class="nav-item">
        <%= link_to 'Close session', destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
      </li>
    </ul>


    <%= yield %>
  </body>
</html>
